<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103616203514-fle4k9fnoeh51t3dia907mukh0aqcatr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103616203514-fle4k9fnoeh51t3dia907mukh0aqcatr</string>
	<key>API_KEY</key>
	<string>AIzaSyBm_7fBl2Gd4Zsr4im1h6sPtXSuEa1UiOU</string>
	<key>GCM_SENDER_ID</key>
	<string>103616203514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lfbp.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-app-b6a9a</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-app-b6a9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103616203514:ios:8d7d98b0cfa0907a14d743</string>
</dict>
</plist>